<!DOCTYPE html>
<html>
    <head>
      <title>Test de profile</title>
      <link rel="stylesheet" href="/Public/CSS/app.css">
    </head>
    <body>
        <div>
          <container class="navbar navbar-expand-lg bg-light" style="font-size: calc(10px + 2vmin); color: white; margin-left: 0vh; display: inline-flex">
            <row>
              <a class="navbar-brand fnav" href="#" style=" margin-left: 0vh; font-size: xx-large; font-weight: 900; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> PRO LAVAGE </a>
            </row>
            <row>
              <div class="navbar-nav" style="margin-top: 50px; margin-left: 1150px ">
                <a class="nav-link active" href="/" id="navstyle" style="margin-left:10px" > Home </a>
                <a class="nav-link" href="/our-services" id="navstyle"> Our  Services </a>
                <a class="nav-link" href="/contact" id="navstyle"> Contact us </a>
              </div>
            </row>
          </container>
        </div>
    </body>
</html>